In [1]:
import pandas as pd
import numpy as np

df1 = pd.read_xml("original_data/synset_relations.A.xml")
df2 = pd.read_xml("original_data/synset_relations.N.xml")
df3 = pd.read_xml("original_data/synset_relations.V.xml")
df1.head(7)

           name  child_id parent_id
0  POS-synonymy  114383-N  114383-A
1        domain    4525-N  114383-A
2        domain     540-N  114383-A
3      hypernym    8681-A  114383-A
4  POS-synonymy  100007-N  100007-A
5        domain    1702-N  100007-A
6      hypernym     246-A  100007-A

In [2]:
df1 = df1[["child_id", "name", "parent_id"]]
df2 = df2[["child_id", "name", "parent_id"]]
df3 = df3[["child_id", "name", "parent_id"]]

df = pd.concat([df1, df2, df3])
df['name'] = df['name'].str.replace('-','_')
df['name'] = df['name'].str.replace(' ','_')
for i in ['child_id', 'parent_id']:
    df[i] = df[i].str.replace('-A','01')
    df[i] = df[i].str.replace('-N','02')
    df[i] = df[i].str.replace('-V','03')
df.head(7)

   child_id          name parent_id
0  11438302  POS_synonymy  11438301
1    452502        domain  11438301
2     54002        domain  11438301
3    868101      hypernym  11438301
4  10000702  POS_synonymy  10000701
5    170202        domain  10000701
6     24601      hypernym  10000701

In [3]:
train, validate, test = np.split(df.sample(frac=1, random_state=42), 
                       [int(.6*len(df)), int(.8*len(df))])

In [4]:
d = {'train': train, 'valid': validate, 'test': test}
for key, val in d.items():
    val.to_csv(f'{key}.txt', header=None, index=None, sep=' ', mode='a')